@model BookCollection.Models.DVD

<div>
	@using (Html.BeginForm())
	{
		@Html.ValidationSummary();

		<p>Producer Name: @Html.TextBoxFor(x => x.ProducerName)</p>
		<p>Title: @Html.TextBoxFor(x => x.Title)</p>
		<p>Publish Date: @Html.EditorFor(x => x.PublishDate)</p> <!-- datetime picker only works on chrome -->

		<input type="submit" name="Add DVD" class="btn btn-primary btn-large" />
	}
</div>
