@model List<BookCollection.Models.DVD>

<div>
	<table>
		<tr><th>Producer Name</th><th>Title</th><th>Publish Date</th></tr>
		@{
			foreach (var dvd in Model)
			{
				<tr>
					<td>@dvd.ProducerName</td>
					<td>@dvd.Title</td>
					<td>@dvd.PublishDate.ToShortDateString()</td>
				</tr>
			}
		}
	</table>
</div>
<br />
<div>@Html.ActionLink("Add New DVD", "AddDVD")</div>
