@model BookCollection.Models.Company

<div>
	<h2>Company Details</h2>

	<p><strong>ID:</strong> @Model.ID</p>
	<p><strong>Name:</strong> @Model.Name</p>
	<p><strong>Address:</strong> @Model.Address</p>
	<p><strong>Town:</strong> @Model.Town</p>
</div>

@section footer {
	Home4 footer, Details.cshtml (section rendered).
}