@Scripts.Render("~/bundles/home4index")

<div id="datatablesContainer">
	<div id="demo">
		<h2>Index</h2>
		<table id="myDataTable" class="display">
			<thead>
				<tr>
					<th>ID</th>
					<th>Company name</th>
					<th>Address</th>
					<th>Town</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>

@section footer {
	Home4 footer, Index.cshtml (section rendered).
}